.SettingsPanel {
  z-index: 10000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eee;

  button.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  h1 {
    padding: 0.5rem 1rem;
    margin: 0;
  }

  .react-tabs {
    display: flex;

    &__tab-list {
      margin-top: 2rem;
      flex-basis: 25%;
      border: none;
    }

    &__tab {
      display: block;
      border: none;
      border-radius: 0;
      padding: 1rem;

      &--selected {
        font-weight: bold;
        border: none;
        background: transparent;
      }

      &-panel {
        padding: 1rem;
      }
    }
  }
}
